.container{
    position: fixed;
    width: 100%;
    height: 100%;
    display:flex ;
    flex-flow: column;
    justify-content: space-between;
    /*position: relative;*/

}
.border{
    border: 1px solid red;
}
.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;

}